<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>PerSys</display-name>
  <servlet>
    <servlet-name>NoticeAdd</servlet-name>
    <servlet-class>com.jsp.servlet.NoticeAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeAdd</servlet-name>
    <url-pattern>/servlet/NoticeAdd</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PositionAdd</servlet-name>
    <servlet-class>com.jsp.servlet.PositionAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PositionAdd</servlet-name>
    <url-pattern>/servlet/PositionAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeptAdd</servlet-name>
    <servlet-class>com.jsp.servlet.DeptAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptAdd</servlet-name>
    <url-pattern>/servlet/DeptAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PayBonus</servlet-name>
    <servlet-class>com.jsp.servlet.PayBonus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayBonus</servlet-name>
    <url-pattern>/servlet/PayBonus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PayDeduct</servlet-name>
    <servlet-class>com.jsp.servlet.PayDeduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayDeduct</servlet-name>
    <url-pattern>/servlet/PayDeduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PersonEntry</servlet-name>
    <servlet-class>com.jsp.servlet.PersonEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonEntry</servlet-name>
    <url-pattern>/servlet/PersonEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PersonChange</servlet-name>
    <servlet-class>com.jsp.servlet.PersonChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonChange</servlet-name>
    <url-pattern>/servlet/PersonChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PersonLeave</servlet-name>
    <servlet-class>com.jsp.servlet.PersonLeave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonLeave</servlet-name>
    <url-pattern>/servlet/PersonLeave</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.jsp.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.jsp.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/servlet/Register</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.jsp.servlet.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <resource-ref>
    <description>personnel</description>
    <res-ref-name>jdbc/personnel</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <welcome-file-list>
    <welcome-file>boss/index.jsp</welcome-file>
  </welcome-file-list>
</web-app>