@CHARSET "UTF-8";
body{
	font-family:"微软雅黑",MicrosoftYaHei;
	font-weight: 400;
	font-size:1.1rem;
    color: #333;
    margin:0;
    padding:0;
    position:absolute;
    height:100%;
    width:100%;
}
html{color:#333;background:#FFF;} 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form, 
fieldset,input,textarea,p,blockquote,th,td { 
margin:0; 
padding:0; 
} 
table { 
border-collapse:collapse; 
border-spacing:0; 
} 
fieldset,img { 
border:0; 
} 
address,caption,cite,code,dfn,em,strong,th,var { 
font-style:normal; 
font-weight:normal; 
} 
ol,ul { 
list-style:none; 
} 
caption,th { 
text-align:left; 
} 
h1,h2,h3,h4,h5,h6 { 
font-size:100%; 
font-weight:normal; 
} 
q:before,q:after { 
content:''; 
} 
abbr,acronym { border:0; 
}
a:link {
text-decoration: none;
}
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: none;
}
a:active {
text-decoration: none;
}
a{
	color:#333;
	font-weight: 400;
}
ul{
	list-style:none;
}
.fr{
	float:right;
}
.fl{
	float:left;
}
.pagecontent{
    font-size:1.2rem;
    color: #333;
    margin:0;
    padding:0;
    position:absolute;
    height:100%;
    width:100%;
}
.header{
	font-size:1.2rem;
	position:relative;
	top:0;
	right:0;
	left:0;
	height:50px;
	background:#f8f8f8;
	border-width:0 0 1px;
	border-style:solid;
	border-color:#ddd;
}
.headerleft{
	padding:0 10px 0 1rem;
	float:left;
	font-size:1.2rem;
	height:50px;
	line-height:50px;
}
.headerright{
	float:right;
	font-size:1.1rem;
	height:50px;
	line-height:50px;
}
.headerright li{
	float:left;
	margin:0 0.5rem 0 0.5rem;
}
.headerright li:last-child{
	margin-right:1rem;
}
.headerright li ul{
	position:absolute;
	z-index:999;
	display:block;
	background:#f8f8f8;
	border-width:0 1px 1px 1px;
	border-style:solid;
	border-color:#ddd;
	visibility: hidden;
}
.headerright li ul li{
	float:none;
}
.headerright li:hover ul{
	visibility: visible;
}
.pagecontent{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}
.content{
	position:relative;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
    height: 100%;
    margin: 0;
}
.sidebar{
	position:relative;
	width: 260px;
    height: 100%;
    float: left;
    border-right: 1px solid #cecece;
    background-color: #f8f8f8;
}
.mainlist{
	position: relative;
	width:auto;
	display:block;
    background-color: #fff;
    border-bottom: 1px solid #dedede;
    padding:10px 24px 10px 24px;
}
.sublist{
	position: relative;
	width:auto;
	display:none;
    background-color: #f8f8f8;
    padding-left:24px;
}
.sublist li{
	position: relative;
	width:auto;
    background-color: #fff;
    border-bottom: 1px solid #dedede;
    border-width: 1px;
    padding:10px 24px 10px 24px;
}
.notice{
	margin:10px;
	padding:5px;
	border-width:1px;
	border-style:solid;
	border-color:#ddd;
}
.maincontent{
    width: auto;
    height: auto;

    background: #fff;
    padding:10px;
}
.focus{
	background-color: #f8f8f8;
}
.tablename{
	padding:1.6rem;
	box-sizing:border-box;
	line-height:1.6rem;
}
.tablename strong{
	font-size:1.8rem;
	color:#0e90d2;
	font-weight:700;
}
.table{
	padding:0 1rem 0 1rem;
	margin:0;
	width:auto;
	display:table;
}
.table table{
	padding:0.5rem;
	border-collapse:collapse;
}
table th{
	padding:0.5rem;
}
table td{
	padding:0.5rem;
}

footer{
	position:fixed;
	bottom:0px;
	width:100%;
	text-align:center;
	font-size:0.8rem;
}
.formcontent{
	display:flex;
	padding-left:1.6rem;
	margin-top:1rem;
	
}
.title{
	float:left;
	width:7rem;
}
.input{
	float:left;
}
.button{
	padding-left:1.6rem;
	margin-top:1rem;
}
.button input{
	margin-left:1.6rem;
	padding:0.2rem 0.5rem 0.2rem 0.5rem;
}
input{
	line-height:1.5rem;
}
select{
	height:1.6rem;
}
.content {
    display: table-cell;
}
